@using WatchShop.Models
@{
    ViewBag.Title = "Index";
    Customer user = Session["Customer"] as Customer;
    List<CartItem> ShopCart = Session["Cart"] as List<CartItem>;
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/checkout.css">
}

<div class="container-checkout">
    <div class="checkout-left">
        <div class="checkout-left__header">
            <h2 class="checkout-left__header--heading">Payment Details</h2>
        </div>
        <div class="checkout-left__form">
            <div class="infor-user">
                <div class="checkout-left__form--input">
                    <label>Full Name</label>
                    <span>@user.FullName</span>
                </div>
                <div class="checkout-left__form--input">
                    <label>Address</label>
                    <span>@user.Address</span>
                </div>
                <div class="checkout-left__form--input">
                    <label>Phone Number</label>
                    <span>@user.Phone</span>
                </div>
                <div class="checkout-left__form--input">
                    <label>Email</label>
                    <span>@user.Email</span>
                </div>
                <div class="checkout-left__form--input">
                    <label>Note</label>
                    <textarea id="note"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-right">
        <div class="checkout-right__header">
            <h2 class="checkout-right__header--heading">Order Details</h2>
        </div>
        <div class="checkout-right__bill">
            <div class="checkout-right__bill--title">
                <span>Product</span>
                <span>Price</span>
            </div>
            @foreach (var item in ShopCart)
            {
                <div class="checkout-right__bill--info">
                    <span>@item.Product.Name</span>
                    <span>@item.Quantity</span>
                    <span class="info-price">$@(item.Product.Price * (1 - item.Product.Discount / 100) * item.Quantity)</span>
                </div>
            }
            <div class="checkout-right__bill--title">
                <span>Subtotal</span>
                <span>$@ShopCart.Sum(item => item.Product.Price * (1 - item.Product.Discount / 100) * item.Quantity)</span>
            </div>
            <div class="checkout-right__bill--title">
                <span>Ship</span>
                <span>Free Shipping</span>
            </div>
            <div class="checkout-right__bill--title">
                <span>Payment Method</span>
                <span>Cash</span>
            </div>
            <div class="checkout-right__bill--btn">
                <button>
                    <span>CHECKOUT</span>
                </button>
            </div>
        </div>
    </div>
</div>

@section AddJS{
    <script>
        $(document).ready(function () {
            $(".checkout-right__bill--btn button").click(function () {
                var note = $("textarea#note").val();
                $.ajax({
                    url: "/CheckOut/Payment",
                    type: "POST",
                    data: { Note: "note" },
                    success: function (ex) { window.location.href = "Home" },
                })
            })
        })
    </script>
}