@model WatchShop.Models.Product 
@using WatchShop.Models
@{
    ViewBag.Title = "ProductDetail";
    DbWatchShop db = new DbWatchShop();
    List<Image> imgs = db.Images.Where(im => im.Product.Equals(Model.Id)).ToList();
    Brand br = db.Brands.Find(Model.Brand);
    List<Product> products = db.Products.Where(pr => pr.Brand.Equals(Model.Brand) && !pr.Id.Equals(Model.Id)).Take(4).ToList();
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/short-list-product.css">
    <link rel="stylesheet" href="~/Content/css/one-product.css">
    <link rel="stylesheet" href="~/Content/css/product_detail.css">
}

<div id="product-detail">
    <div class="container-details">
        <div class="details-left">
            <div class="details--left__img-list">
                @foreach(var img in imgs)
                {
                    <div class="details--left__img-list__item">
                        <a href="">
                            <img src=@Url.Content("/Content/image/product/" + img.Url)>
                        </a>
                    </div>
                }
            </div>
            <div class="details--left__img--main">
                <a href="">
                    <img src=@Url.Content("/Content/image/product/" + Model.Avatar)>
                </a>
            </div>
        </div>
        <div class="details-right">
            <div class="details-right__header">
                <h2 class="details-right__header--name-product">@Model.Name</h2>
            </div>
            <div class="details-right__sub">
                <p class="details-right__header--des">
                    @Model.Description
                </p>

            </div>
            <div class="details-right__price-social">
                <div class="details-right__price">
                    <span class="details-right__price-old">$@Model.Price</span>
                    <span class="details-right__price-new">$@(Model.Price * (1 - Model.Discount / 100))</span>
                </div>
                <div class="details-right__social">
                    <a href="">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>

                </div>
            </div>
            <div class="details-right__quantity">
                <input type="number" id="quantity" value="1" min="1" max="99">
            </div>
            <div class="details-right__policy">
                <div>
                    <i class="fas fa-dolly-flatbed"></i>
                    <p class="details-right__policy--text">Free Ship Nationwide</p>
                </div>
                <div>
                    <i class="fas fa-calendar-check"></i>
                    <p class="details-right__policy--text">Exchange 7 Days</p>
                </div>
                <div>
                    <i class="fas fa-vote-yea"></i>
                    <p class="details-right__policy--text">Genuine Commitment</p>
                </div>
                <div>
                    <i class="fas fa-lock"></i>
                    <p class="details-right__policy--text">Genuine Commitment</p>
                </div>
            </div>
            <div class="details-right__btn">
                <button id="add-to-cart">
                    <a href="">ADD TO CART</a>
                </button>
            </div>
        </div>
    </div>

    <div class="container-info">
        <div class="info-left">
            <h3 class="info-header__heading">WARRANTY</h3>
            <div class="insurance-info">
                <p class="insurance-text">Time Warranty</p>
                <p class="insurance-text-info">5 years</p>
            </div>

            <div class="insurance-info">
                <p class="insurance-text">Origin</p>
                <p class="insurance-text-info">@Model.Origin</p>
            </div>

            <div class="insurance-info">
                <p class="insurance-text">Brand</p>
                <p class="insurance-text-info">@br.Name</p>
            </div>

            <div class="insurance-info">
                <p class="insurance-text">Gender</p>
                <p class="insurance-text-info">@Model.Gender</p>
            </div>
            <div class="insurance-info">
                <p class="insurance-text">Shipping</p>
                <p class="insurance-text-info">Free Shipping </p>
            </div>
        </div>
        <div class="info-right">
            <h3 class="info-header__heading">SPECIFICATIONS</h3>
            <div class="insurance-info">
                <p class="insurance-text">Diameter</p>
                <p class="insurance-text-info">@Model.Diameter mm</p>
            </div>

            <div class="insurance-info">
                <p class="insurance-text">Width</p>
                <p class="insurance-text-info">@Model.WireWidth mm</p>
            </div>

            <div class="insurance-info">
                <p class="insurance-text">Material</p>
                <p class="insurance-text-info">@Model.Material</p>
            </div>

            <div class="insurance-info">
                <p class="insurance-text">Strap</p>
                <p class="insurance-text-info">@Model.Strap</p>
            </div>
            <div class="insurance-info">
                <p class="insurance-text">Water Proof</p>
                <p class="insurance-text-info">@Model.Waterproof</p>
            </div>
        </div>
    </div>

    <!-- START SIMILAR PRODUCT  -->
    <div class="short-list-product">
        <div class="header">
            <div class="title">
                <span>SIMILAR</span>
            </div>
            <div class="btns">
                <a href="">See more</a>
            </div>
        </div>
        <div class="content">
            @foreach (var pr in products)
            {
                <div class="product-item">
                    <a href="~/Product/ProductDetail?Id=@pr.Id">
                        <div class="discount">
                            <span>@pr.Discount%</span>
                        </div>
                        <div class="image">
                            <img src=@Url.Content("/Content/image/product/" + pr.Avatar)>
                        </div>
                        <div class="name">
                            <span>@pr.Name</span>
                        </div>
                        <div class="price">
                            <span class="old">$@pr.Price</span>
                            <span class="new">$@(pr.Price * (1 - pr.Discount / 100))</span>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <!-- END SIMILAR -->
</div>

@section AddJS{
    <script>
        $(document).ready(function () {
            $("#add-to-cart").click(function () {
                $.ajax({
                    url: "/Cart/AddToCart",
                    type: "GET",
                    dataType: "json",
                    data: { ProductId: "@Model.Id", Quantity: document.getElementById("quantity").value},
                    contentType: "application/json; charset=utf-8",
                    success: function (rp) {
                        $("#count-cart-item").val(rp.count);
                        alert("Added to cart");
                    },
                    error: function (ex) {
                        alert("error");
                    }
                })
            })
        })
    </script>
}