@model WatchShop.Models.Customer
@{
    ViewBag.Title = "Login";
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/login.css">
}

<div class="container-login">
    <div class="login-left">
        <div class="login-left__img">
            <img src=@Url.Content("/Content/image/background/bg-form.jpg") alt="">
        </div>
    </div>
    <div class="login-right">
        <div class="login-right__header">
            <h1 class="login-right__header--heading">Welcome Back!</h1>
            <p class="login-right__header--des">Please use the account you have been give to login!</p>
        </div>
        <div class="login-right__form">
            @if (ViewBag.Error != null)
            {
                <p class="warning">@ViewBag.Error</p>
            }
            @using (Html.BeginForm("Login", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="login-input">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </div>
                <div class="login-input">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </div>
                <div class="login-select">
                    <a href="">Forgot password</a>
                </div>
                <div class="login-right__btn">
                    <input type="submit" value="Login" />
                </div>
            }
        </div>
    </div>
</div>