
@{
    ViewBag.Title = "Index";
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/contact.css">
}

@model WatchShop.Models.Contact


<div class="container-contact">
    <div class="contact-left">
        <div class="contact-left__background">
            <img src="@Url.Content("~/Content/image/background/bg-form.jpg")" alt="">
        </div>
        <div class="contact-left__social">
            <a href="">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="">
                <i class="fab fa-youtube"></i>
            </a>


        </div>
    </div>
    <div class="contact-right">
        <div class="contact-right__header">
            <h2 class="contact-right__header--heading">
                Need Help ?
            </h2>
            <p class="contact-right__header--des">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fugiat vel sapiente dicta ut officia labore voluptates, rerum aperiam quasi ullam hic illum, quas quidem accusamus deserunt commodi eum architecto.
            </p>
        </div>
        <div class="contact-right__form">

            @using (Html.BeginForm("SendContact", "Contact", FormMethod.Post))
            {

                <div class="input-contact">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "contact-right__form--label" })
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>


                <div class="input-contact">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "contact-right__form--label" })
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="input-contact">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "contact-right__form--label" })
                    <!-- <input type="text"> -->
                    @Html.TextAreaFor(model => model.Message)
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })

                </div>
                <div class="contact-right__btn">
                    <button type="submit">
                        CONTACT
                    </button>
                </div>
            }


        </div>

    </div>
</div>


