@using WatchShop.Models

@{
    ViewBag.Title = "Index";

    DbWatchShop db = new DbWatchShop();
    List<Banner> Banners = db.Banners.OrderByDescending(b => b.CreateDate).Take(5).ToList();
    Product TopMale = db.Products
        .Where(pr => pr.Gender.Equals("Male"))
        .OrderByDescending(pr => pr.Import - pr.Stock).First();
    Product TopFemale = db.Products
        .Where(pr => pr.Gender.Equals("Female"))
        .OrderByDescending(pr => pr.Import - pr.Stock).First();
    Product BestSeller = db.Products.OrderByDescending(pr => pr.Import - pr.Stock).First();
    List<Product> NewArrival = db.Products.OrderByDescending(pr => pr.UpdateDate).Take(4).ToList();
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/short-list-product.css">
    <link rel="stylesheet" href="~/Content/css/index.css">
    <link rel="stylesheet" href="~/Content/css/one-product.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
}

<div class="main">
    <div class="slider">
        <a href="~/Product">
            <div class="slide-img">
                @foreach (var bn in Banners)
                {
                    <img src=@Url.Content("/Content/image/banner/" + bn.ImageUrl) alt="">
                }
            </div>
        </a>
    </div>
    <!-- START ADS  -->
    <div class="container-adss">
        <div class="container-adss__content">
            <div class="container-adss__content-text">
                <h2 class="container-adss__content--heading">
                    Top Watch Men
                </h2>
                <p class="container-adss__content--des">@TopMale.Description</p>
                <a class="container-adss__content--link" href="~/Product/ProductDetail?id=@TopMale.Id">ORDER NOW</a>
            </div>
            <div class="container-adss__content-img">
                <img src=@Url.Content("/Content/image/product/" + TopMale.Avatar) alt="">
            </div>
        </div>

        <div class="container-adss__content">
            <div class="container-adss__content-text">
                <h2 class="container-adss__content--heading">
                    Top Watch Women
                </h2>
                <p class="container-adss__content--des">@TopFemale.Description</p>
                <a class="container-adss__content--link" href="~/Product/ProductDetail?id=@TopFemale.Id">ORDER NOW</a>
            </div>
            <div class="container-adss__content-img">
                <img src=@Url.Content("/Content/image/product/" + TopFemale.Avatar) alt="">
            </div>
        </div>
    </div>
    <!-- END ADS  -->
    <!-- START NEW ARRIVAL  -->
    <div class="short-list-product">
        <div class="header">
            <div class="title">
                <span>NEW ARRIVAL</span>
            </div>
            <div class="btns">
                <a href="~/Product">See more</a>
            </div>
        </div>
        <div class="content">

            @foreach (var pr in NewArrival)
            {
                <div class="product-item">
                    <a href="product_detail.html">
                        <div class="discount">
                            <span>@pr.Discount%</span>
                        </div>
                        <div class="image">
                            <img src=@Url.Content("/Content/image/product/" + pr.Avatar)>
                        </div>
                        <div class="name">
                            <span>@pr.Name</span>
                        </div>
                        <div class="price">
                            <span class="old">$@pr.Price</span>
                            <span class="new">$@(pr.Price * (1 - pr.Discount / 100))</span>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <!-- END NEW ARRIVAL -->
    <div class="most-view">
        <div class="most-view__img">
            <img src=@Url.Content("/Content/image/product/" + BestSeller.Avatar) alt="">
        </div>
        <div class="most-view__text">
            <h1 class="most-view__text--heading">BEST SELLER</h1>
            <p class="most-view__text--des">@BestSeller.Description</p>
            <button>
                <a class="most-view__text--link" href="./product_detail.html">Discover Now</a>
            </button>
        </div>
    </div>
    <!-- START REGISTER NOTI  -->
    <div class="register-noti">
        <h2 class="featured-product__heading">Sign up for notifications </h2>
        <div class="register-noti__form">
            <input type="text">
            <button>
                <a href="">Sign up</a>
            </button>
        </div>
    </div>
    <!-- END REGISTER NOTI  -->
</div>

@section AddJS{
    <script src="~/Content/js/slick.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
}