@using WatchShop.Models
@model WatchShop.Models.Customer
@{
    ViewBag.Title = "Index";
}

@section AddCss{
    <link rel="stylesheet" href="~/Content/css/register.css" type="text/css" media="screen">
}

<div class="container-register">
    <div class="register-left">
        <div class="register-left__img">
            <img src=@Url.Content("/Content/image/background/bg-form.jpg") alt="">
        </div>
    </div>
    <div class="register-right">
        <div class="register-right__header">
            <h1 class="register-right__header--heading">Welcome Back!</h1>
            <p class="register-right__header--des">Please use the account you have been give to register!</p>
        </div>
        <div class="register-right__form">
            @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="register-input">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "warning", @style = "color: red" })
                    <span class="warning" style="color: red">@ViewBag.Error</span>
                </div>
                <div class="register-input">
                    @Html.LabelFor(m => m.Password)
                    @Html.TextBoxFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "warning", @style = "color: red" })
                </div>
                <div class="register-input">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.TextBoxFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "warning", @style = "color: red" })
                </div>
                <div class="register-input">
                    @Html.LabelFor(m => m.Gender)
                    @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(Gender))))
                </div>
                <div class="register-input">
                    @Html.LabelFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Address)
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "warning", @style = "color: red" })
                </div>
                <div class="register-input">
                    @Html.LabelFor(m => m.Phone)
                    @Html.TextBoxFor(m => m.Phone)
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "warning", @style = "color: red" })
                </div>
                <div class="register-input">
                    <label>Avatar</label>
                    <input type="file" name="Avatar">
                </div>
                <div class="register-select">
                    <a href="">Login</a>
                </div>
                <div class="register-right__btn">
                    <input type="submit" value="Register" />
                </div>
            }
        </div>

    </div>
</div>

